@import 'tailwindcss';
@import './theme.css';

@plugin 'tailwindcss-animate';
@plugin 'tailwindcss-react-aria-components';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:where(.dark-mode, .dark-mode *));

@theme {
    --font-sans: 'Karla', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    html {
        font-family: 'Karla', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Prata', 'Times New Roman', serif;
        font-weight: 400;
    }
}
