@theme {
    /* FONT FAMILY */
    --font-body: var(--font-inter, 'Inter'), -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
    --font-display: var(--font-inter, 'Inter'), -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
    --font-mono: ui-monospace, 'Roboto Mono', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

    /* RADIUS */
    --radius-none: 0px;
    --radius-xs: 0.125rem;
    --radius-sm: 0.25rem;
    --radius-DEFAULT: 0.25rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --radius-3xl: 1.5rem;
    --radius-full: 9999px;

    /* SHADOW */
    --shadow-xs: 0px 1px 2px rgba(10, 13, 18, 0.05);
    --shadow-sm: 0px 1px 3px rgba(10, 13, 18, 0.1), 0px 1px 2px -1px rgba(10, 13, 18, 0.1);
    --shadow-md: 0px 4px 6px -1px rgba(10, 13, 18, 0.1), 0px 2px 4px -2px rgba(10, 13, 18, 0.06);

    /* BASE COLOR */
    --color-transparent: rgb(0 0 0 / 0);
    --color-white: rgb(255 255 255);
    --color-black: rgb(0 0 0);

    --color-gray-50: rgb(250 250 250);
    --color-gray-100: rgb(245 245 245);
    --color-gray-200: rgb(233 234 235);
    --color-gray-300: rgb(213 215 218);
    --color-gray-400: rgb(164 167 174);
    --color-gray-500: rgb(113 118 128);
    --color-gray-600: rgb(83 88 98);
    --color-gray-700: rgb(65 70 81);
    --color-gray-800: rgb(37 43 55);
    --color-gray-900: rgb(24 29 39);
    --color-gray-950: rgb(10 13 18);

    --color-brand-500: rgb(22 163 74);
    --color-brand-600: rgb(21 128 61);
    --color-brand-700: rgb(20 83 45);

    --color-error-500: rgb(239 68 68);
    --color-error-600: rgb(220 38 38);

    /* TEXT COLORS */
    --color-text-primary: var(--color-gray-900);
    --color-text-secondary: var(--color-gray-700);
    --color-text-tertiary: var(--color-gray-600);
    --color-text-placeholder: var(--color-gray-500);

    /* BORDER COLORS */
    --color-border-primary: var(--color-gray-300);
    --color-border-secondary: var(--color-gray-200);

    /* BACKGROUND COLORS */
    --color-bg-primary: var(--color-white);
    --color-bg-secondary: var(--color-gray-50);
}
